.container-galeri {
    display: block;
    background-color: rgba(50, 50, 50, 0.9);
    margin: 20px auto;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.container-galeri h1 {
    display: flex;
    justify-content: center;
    color: #ffb74d;
    padding: 20px;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.content-galeri {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
    margin-bottom: 100px;
}

/* Individual card styling */
.card {
    border-radius: 25px;
    position: relative;
    transition: transform 0.5s, filter 0.5s;
    cursor: pointer;
    flex: 0 0 auto;
    width: 300px;
    height: 200px;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    pointer-events: none;
    transition: transform 0.5s;
    background: linear-gradient(to top, rgba(0, 0, 0, 6), rgba(0, 0, 0, 0));
}

.card .layer {
    position: absolute;
    bottom: -10px;
    left: -13px;
    width: 329px;
    height: 50%;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 25px;
    background: linear-gradient(to top, rgba(0, 0, 0, 5), rgba(0, 0, 0, 0));
    padding: 5px;
}

.layer h3 {
    color: white;
}

.layer h5 {
    color: #ffb74d;
}

.layer h3,
h5 {
    margin-top: 10px;
}

.card:hover {
    transform: scale(1.05);
}

.card:hover img {
    transform: scale(1.1);
    opacity: 1;
}

.card:hover .layer {
    opacity: 1;
}

/* Blur effect on non-hovered cards when hovering over the gallery */
.content-galeri:hover .card:not(:hover) {
    filter: blur(5px);
}

.content-galeri::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}




@media (max-width: 768px) {
    .container-galeri {
        width: 95%;
        padding: 10px;
    }

    .container-galeri h1 {
        font-size: 1.5em;
        padding: 10px;
        margin-bottom: 10px;
    }

    .content-galeri {
        gap: 20px;
        padding: 10px;
    }

    .card {
        width: 250px;
        height: 150px;
    }

    .card .layer {
        width: 279px;
    }

    .layer h3 {
        font-size: 1em;
    }

    .layer h5 {
        font-size: 0.9em;
    }

    .layer h3,
    h5 {
        margin-top: 1px;
    }
}
